@font-face {
     font-family: "WickedGrit";
     src: url("font/WickedGrit.ttf");
     
}

@font-face {
     font-family: "font2";
     src: url("font/afontwithserifs.ttf");
     
}

body {
     color: #261600;
     background: #e7d0a5;
     background-image: url("media/BackgroundDay.jpg");
     background-size: 100px 100px;

     max-width: 100%;
     margin-top: 0%;
     margin-bottom: 2%;
     min-height: 100vh;
     padding-bottom: 100px;
     position: relative;
     height: 100%;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     flex-direction: column;
     align-items: center;


}

html {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
     font-weight:normal;
     font-style:normal;
     line-height: 1.3;
     font-size: 20px;
}


footer {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          text-align: center;
          height: 100px;
          

}
     
a{
     font-family: "WickedGrit" ;
     font-weight:normal;
     font-style:normal;
     line-height: 1.3;
}

.textlink {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
     font-weight:normal;
     font-style:normal;
     line-height: 1.3;
}

.textlink:link {
     color: rgb(77, 11, 11);
}

.textlink:visited {
     /*color: #f96e93;*/
     color: rgb(77, 11, 11);
}

.textlink:active {
     /*color: #f96e93;*/
     color: rgb(77, 11, 11);
}

.textlink:hover {
     /*color: #851f00;*/
     color: #707070;
}

a:link {
      /*color: #809fff;
      color: #FF0000;*/
      color: #e2c691;
}

a:visited {
      /*color: #f96e93;*/
      color:  #e2c691;
}

a:active {
      /*color: #851f00;*/
      color:  #e2c691;
}

a:hover {
      /*color: #851f00;*/
      color: rgb(77, 11, 11);
}
  

.center {
     text-align: center;
}

div.ind {
     text-indent: 50px;
}

.indented {
     padding-left: 50pt;
       padding-right: 50pt;
}


hr.goldheader {
     border: 0px;
     height: 1px;
     background-image: linear-gradient(90deg, #ffe29e, #ffe29e);
}

hr.blackheader {
     border: 0px;
     height: 1px;
     background-image: linear-gradient(90deg, #251d09, #5c4411);
}


@media(min-width: 640px) {
     .phones {
         display: none;
     }
}



.index {
     padding-left: 18%;
     padding-right: 18%;
     display: flex;
}


.index article {
     flex: 1 1 auto
}

.index aside {
     width: 23%;
     margin-left: 2%;
     border: 0px solid black;
     flex: 1;

}



.index aside p {
     text-align: center;
}

.blist p {
     font-size: .9rem;
}

.brownbutton{
     background:rgb(115, 71, 10);
     padding: 4px;
     border: 2px solid rgb(81, 50, 6);
     border-radius: 5%:

}

.mobile_aside img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     border-radius: 5px;
}

.mobile_aside p {
     text-align: center;
}

@media(max-width: 640px) {
     .index aside {
         display: none;
     }
}

.video-container {
     position: relative;
     padding-bottom: 56.25%;
     /*padding-top: 30px;*/
     width: 100%;
     /*max-width: 420px;
     text-align: left;*/
     height: 0;
     overflow: hidden;
     margin: 2%;
}

.video-container iframe, .video-container object, .video-container
embed, .video-container video {
     position: absolute;
     top:0;
     left: 0;
     width: 100%;
     height: 100%;
}

@media only screen and (max-width: 600px) {
     .video-container {
     position: relative;
     padding-bottom: 56.25%;
     width: 100%;
     height: 0;
     overflow: hidden;
     }

     .video-container iframe, .video-container object, .video-container
embed, .video-container video {
     position: absolute;
     top:0;
     left: 0;
     width: 100%;
     height: 100%;
     }

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}


.container { 
     height: auto; 
 } 

 .sticky { 
     position: sticky; 
     top: -2%; 
     z-index: 997;

 } 

 .bannersticky { 
     position: sticky; 
     top: -40vw; 
     z-index: 996;

 } 


.mobilelinks {
  display: none;
}

@media only screen and (max-width: 640px) {
  .mobilelinks {
    display: block;
  }
}


hr.dashedaside {
      border: 0px;
      height: 4px;
      background-image: linear-gradient(#d38736, #2a1600);

}



hr.clearheader {
      border: 0px;
      height: 0px;
          opacity: 0;


}

.symbol{
     border-radius: 8%
}

.symbol:hover{
    opacity: 0.7;
}

.hublink {
     white-space: nowrap;
     padding: 0px;
     margin: 15px;
     border: 0px solid rgb(115, 71, 10, .7);
     border-radius: 4%;
     width: 300px;
}

.hublink:hover{
     opacity: 0.7;
 }

.moveimageup { position: relative; top: -25px; }

.movepageup { position: relative; top: -38.5px; }

.bannerimage {position: relative; margin-left: -315px;}

ul {
     list-style: none;
     background: #73470a;
     font-size: 15px;
     }
 ul li {
     display: inline-block;
     position: relative;
     font-size: 15px;
     }
 ul li a {
     display: block;
     padding: 20px 25px;
     color: #FFF;
     text-decoration: none;
     text-align: center;
     font-size: 20px;
     }
ul li ul.dropdown li {
     display: block;
    
     }
 ul li ul.dropdown {
     width: 90%;
     background: rgb(81, 50, 6);
     position: absolute;
     z-index: 998;
     display: none;
     
     }
     /*
 ul li a:hover {
          background: rgb(80, 49, 6);
          
     }*/
 ul li:hover ul.dropdown {
     display: block;
     }

ul li ul li a {
     font-size: 15px;
     position: relative; left: -22px; 
     padding: 9%;
}
ul li ul li a:link {
     text-decoration: none; color: #e2c691;
}
ul li ul li a:visited {
     text-decoration: none; color: #e2c691;
}
ul li ul li a:active {
     text-decoration: none; color: #e2c691;
}
ul li ul li a:hover {
     text-decoration: none; color: rgb(77, 11, 11); 
}

.menuresize {}

a.class3: {color: #cfa038;}
a.class3:link  {text-decoration: none; color: #cfa038;}
a.class3:visited {text-decoration: none; color: #cfa038;}
a.class3:active {text-decoration: none; color: #cfa038;}
a.class3:hover {text-decoration: none; color: rgb(77, 11, 11);}


div.scroll-container {
     background-color:  rgb(115, 71, 10, .7);
     overflow: auto;
     width: 800px;
     white-space: nowrap;
     padding: 5px;
     border: 5px solid rgb(115, 71, 10, .7);
     border-radius: 0%;

   }
   
div.scroll-container img {
     padding: 0px;
   }

.nomargin {
     margin: 0;
     padding: 0px;
}


.brownborder {
     background-color:  rgb(115, 71, 10, .7);
     border: 5px solid rgb(115, 71, 10, .7);
}

.eventborder {
     background-color:  rgba(211, 165, 100, 0.4);
     border: 5px solid rgba(45, 26, 0, 0.8);
}

.eventarchiveborder {
     background-color:  rgba(195, 149, 255, 0.4);
     border: 5px solid rgba(45, 26, 0, 0.8);
}


div.sideL {
     float: left;
     width: 20%;
     border: 2px solid rgb(4, 135, 0, .0);
     padding: 7px;
     margin: 5.35px;
     background: rgb(4, 135, 0, .0);
     color: rgb(51, 40, 0);
     height: 250px;

   }

div.sideR {
     float: right;
     width: 73.393%;
     border: 2px solid rgb(4, 135, 0, 0);
     padding: 7px;
     margin: 5.35px;
     background:  rgb(4, 135, 0, 0);
     color: rgb(24, 19, 0);
   }

div.director {
     height: auto;
}

.imageflex { display: flex; }
.imageflexcontent { margin-left: 5px; margin-top: 0;  padding: 25px; position: relative; top: -15px; }

.imageflexR { display: flex; float:right; }
.imageflexcontentR { margin-right: 5px; margin-top: 0; padding: 25px; position: relative; top: -15px; }
























   #bannerimage {
     width: 100%;
     background-image: url("media/photography/Background.jpg");
     height: 405px;
     background-color: purple;
     background-position: center;
   }